<mat-grid-list cols="2" rowHeight="2:1">
    <mat-grid-tile [colspan]="2">
        <mat-card class="dashboard-card">
            <mat-card-title>
                DASHBOARD
            </mat-card-title>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="dashboard-card">
            <mat-card-title>
                Card 1
            </mat-card-title>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="dashboard-card">
            <mat-card-title>
                Card 2
            </mat-card-title>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="dashboard-card">
            <mat-card-title>
                Card 3
            </mat-card-title>
        </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
        <mat-card class="dashboard-card">
            <mat-card-title>
                Card 4
            </mat-card-title>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
