<md-sidenav-container class="app-side-nav-container">
  <!-- Main side navigation -->
  <md-sidenav #sidenav [opened]="!isNavOver()" [mode]="isNavOver() ? 'over' : 'side'" class="sidebar-panel">
    <div id="scroll-area" class="navigation-hold" fxLayout="column">
      <!-- App Logo -->
      <div class="branding default-bg">
          <img src="assets/images/logo.png" alt="" class="app-logo">
          <!-- Two different logos for dark and light themes -->
          <img 
          src="assets/images/logo-text-white.png" 
          alt="" 
          class="app-logo-text"
          *ngIf="themeService.activatedThemeName.indexOf('dark') !== -1">
          <img 
          src="assets/images/logo-text.png" 
          alt="" 
          class="app-logo-text"
          *ngIf="themeService.activatedThemeName.indexOf('dark') === -1">
      </div>

      <!-- Sidebar user -->
      <div class="app-user">
        <div class="app-user-photo">
          <img src="assets/images/face-7.jpg" alt="">
        </div>
        <span class="app-user-name mb-05">
          <md-icon class="icon-xs text-muted">lock</md-icon> 
          Watson Joyce
        </span>
        <!-- Small buttons -->
        <div class="app-user-controls">
          <button 
          class="text-muted"
          md-icon-button 
          md-xs-button
          [mdMenuTriggerFor]="appUserMenu">
            <md-icon>settings</md-icon>
          </button>
          <button 
          class="text-muted"
          md-icon-button 
          md-xs-button
          mdTooltip="Inbox"
          routerLink="/inbox">
            <md-icon>email</md-icon>
          </button>
          <button 
          class="text-muted"
          md-icon-button 
          md-xs-button
          mdTooltip="Sign Out"
          routerLink="/sessions/signin">
            <md-icon>exit_to_app</md-icon>
          </button>
          <md-menu #appUserMenu="mdMenu">
              <button md-menu-item routerLink="/profile/overview">
                <md-icon>account_box</md-icon>
                <span>Profile</span>
              </button>
              <button md-menu-item routerLink="/profile/settings">
                <md-icon>settings</md-icon>
                <span>Account Settings</span>
              </button>
              <button md-menu-item>
                <md-icon>notifications_off</md-icon>
                <span>Disable alerts</span>
              </button>
              <button md-menu-item routerLink="/sessions/signin">
                <md-icon>exit_to_app</md-icon>
                <span>Sign out</span>
              </button>
            </md-menu>
        </div>
      </div>
      <!-- Navigation -->
      <navigation></navigation>
    </div>
  </md-sidenav>

  <!-- Top Bar -->
  <!-- Template reference variables of Left sidebar and Right notification is supplied -->
  <!-- Listens language change event -->
  <topbar 
  [sidenav]="sidenav" 
  [notificPanel]="notificationPanel"
  (onLangChange)="translate.use($event)"></topbar>
  <!-- App content -->
  <app-breadcrumb #breadcrumb></app-breadcrumb>
  <div class="rightside-content-hold">
    <router-outlet></router-outlet>
  </div>
  <!-- Notificaation bar -->
  <md-sidenav #notificationPanel mode="over" class="" align="end">
    <div class="navigation-hold" fxLayout="column">
      <app-notifications [notificPanel]="notificationPanel"></app-notifications>
    </div>
  </md-sidenav>
</md-sidenav-container>