<mat-card class="p-0">
  <mat-card-title class="m-0">
    <div class="card-title-text">Browse</div>
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content class="p-0">
    <mat-grid-list cols="4" class="app-gallery">

      <!-- Gallery item -->
      <mat-grid-tile *ngFor="let pic of pictures">
      	<div class="tint" (click)="browseButton( pic.name )"><span class="picture-text"> {{ pic.name }} </span></div>
        <img [src]="pic.image" alt="">
      </mat-grid-tile>
    </mat-grid-list>
  </mat-card-content>
</mat-card>