@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

.body-margin {
    margin: 0px;
}

.topbar.mat-toolbar {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background: rgba(153,202,59,1);
    color: rgba(256,256,256,0.95);
    position: fixed;
    z-index: 5;
}

.header-title {
    padding-right: 15px;
}

.header-icon {
    width: 35px;
    padding-right: 20px;
}

.navigation-bar {
    width: 15rem;
    position: fixed;
    background-color: rgba(102,102,102,0.8);
    margin-top: 64px;
}

.main-window {
    height: 100vh;
}

.navigation-item {
    padding-left: 15px !important;
    font-size: larger;
    color: white;
}

.main-wrapper {
    margin: 25px 30px;
    margin-top: 90px;
}

.dashboard-card {
    width: 100%;
    height: 100%;
}
