@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

/* Base Layout  */

.body-margin {
    margin: 0px;
}

.topbar.mat-toolbar {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    background: rgba(153,202,59,1);
    color: rgba(256,256,256,0.95);
    position: fixed;
    z-index: 5;
}

.header-title {
    padding-right: 15px;
}

.header-icon {
    width: 55px;
    padding-right: 20px;
}

.navigation-bar {
    width: 250px;
    position: fixed;
    background-color: rgba(200,200,200,0.8);
    margin-top: 64px;
}

.main-window {
    height: 100vh;
}

.navigation-item {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 15px !important;
    font-size: 20px;
    color: white;
}

.router-active {
    background: rgba(175,175,175,0.8);
}

.main-wrapper {
    margin: 30px 30px;
}

.dashboard-card {
    width: 100%;
    height: 100%;
}

.mat-list-text{
    width:83% !important;
}

.mat-drawer-content{
    margin-top:64px;
    padding-bottom:64px;
}

@media (max-width: 600px){
    .mat-toolbar{
        min-height:64px !important;
    }

    .mat-toolbar-row{
        min-height:64px !important;
    }
}

/* General */
.change-font{
     font-family: Roboto;
}

/* Volunteer Dashboard */
.page-title{
    line-height:34px;
    font-size:20px;
}

.vol-table{
    table-layout:fixed;
}

.session-container{
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.session-progress {
    position: relative;
    bottom: -5px;
    z-index: 9999;
}
